.what-we-do-list {
  display: flex;
  justify-content: space-between;
}

.what-we-do-card {
  position: relative;
}

.whatwedo-title {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 370px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: rgba(47, 48, 58, 0.8);
}
